<connectionStrings>
	<add name="ConnectionStringDevelopment" 
       connectionString="CONNECTION_STRING_FÖR_UTVECKLING_HÄR"
       providerName="MySql.Data.MySqlClient" />
    <add name="ConnectionStringProduction" 
       connectionString="CONNECTION_STRING_FÖR_PRODUKTION_HÄR"
       providerName="MySql.Data.MySqlClient" />
</connectionStrings>